API_ID=25290115
API_HASH=bf26c3b91fe2f640d81de95db56dc5bf
BOT_TOKEN=6858692873:AAE2bT1z3tnBEKRhFigCUPfb5nvcyNuK8No
LOGGER_ID=-1002136795173
MONGO_DB_URI=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6828153648
STRING_SESSION=BQGB5YMAPB0IlhXaEgEh2l7D4OO5BAvNOy-TAUc88vnvVb1cRVhn0EFvEo0eZFFif2wU9T-7aD-X_YK3obe60ityUpWoPT9IvpiOgE2xkc0Z8-YJgcXaNlKMtLYiIYcYLLyEuMfE3Xrx9_a7sLTGkpkutcunL47vt0Tzm22uOaLWChJuke23y0IjVcEsN9rpeDTatmMZ8EB8rKqwiE8QIvuh5puzz9gSWYPpjC18eDm0Jg4QJSuzodxl4c-vLUvzQK3E_jdJszzJWp2hV4frvg9cLaWApI-ygI2nQVuZS_lwhts_Q-3XYwGgXCsHnH_w6rwtv6fi_xImEBSF2TlNGCEC58DdrQAAAAF_SgV8AA

